<a href="https://colab.research.google.com/github/UnitForDataScience/Mini_Workshops/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
from sklearn.datasets import fetch_openml

dat = fetch_openml(name='credit-g', as_frame=True, version=1)
df = pd.DataFrame(dat['data'], columns=dat['feature_names'])
df['target'] = dat['target']
df.head()
#dat

  checking_status  duration  ... foreign_worker target
0              <0       6.0  ...            yes   good
1        0<=X<200      48.0  ...            yes    bad
2     no checking      12.0  ...            yes   good
3              <0      42.0  ...            yes   good
4              <0      24.0  ...            yes    bad

[5 rows x 21 columns]

In [14]:
# Import dataset and classes needed in this example:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

# Import Gaussian Naive Bayes classifier:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Load dataset: 
data = dat #load_iris()

# Organize data:
label_names = data['target_names']
labels = data['target']
feature_names = data['feature_names']
features = data['data']

# Print data:
print(label_names)
print('Class label = ', labels[0])
print(feature_names)
#print(features[0])

['class']
Class label =  good
['checking_status', 'duration', 'credit_history', 'purpose', 'credit_amount', 'savings_status', 'employment', 'installment_commitment', 'personal_status', 'other_parties', 'residence_since', 'property_magnitude', 'age', 'other_payment_plans', 'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone', 'foreign_worker']

In [38]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(features)
feat = enc.transform(features).toarray()
#lab = enc.fit(labels)
#features

In [45]:
# Split dataset into random train and test subsets:
train, test, train_labels, test_labels = train_test_split(feat, labels, test_size=0.33, random_state=42)

# Initialize classifier:
gnb = GaussianNB()

# Train the classifier:
model = gnb.fit(train, train_labels)
# Make predictions with the classifier:
predictive_labels = gnb.predict(test)
#print(predictive_labels)

# Evaluate label (subsets) accuracy:
print(accuracy_score(test_labels, predictive_labels))

0.37272727272727274

In [44]:
import sklearn as sk
from sklearn.neural_network import MLPClassifier

NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
NN.fit(train, train_labels)
NN.predict(test)
round(NN.score(feat,labels), 4)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

0.887