<a href="https://colab.research.google.com/github/UnitForDataScience/Mini_Workshops/blob/main/Classification_NeuralNetwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing basic packages

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Get the data

In [2]:
from sklearn.datasets import fetch_openml

# Get data
dat = fetch_openml(name='credit-g', as_frame=True, version=1)
# Convert to dataframe
df = pd.DataFrame(dat['data'], columns=dat['feature_names'])
df['target'] = dat['target']
# Print first few rows
df.head()

  checking_status  duration  ... foreign_worker target
0              <0       6.0  ...            yes   good
1        0<=X<200      48.0  ...            yes    bad
2     no checking      12.0  ...            yes   good
3              <0      42.0  ...            yes   good
4              <0      24.0  ...            yes    bad

[5 rows x 21 columns]

Formatting data

In [3]:
# Organize data:
label_names = dat['target_names']
labels = dat['target']
feature_names = dat['feature_names']
features = dat['data']

# Print data:
print(label_names)
print('Class label = ', labels[0])
print(feature_names)
#print(features[0])

['class']
Class label =  good
['checking_status', 'duration', 'credit_history', 'purpose', 'credit_amount', 'savings_status', 'employment', 'installment_commitment', 'personal_status', 'other_parties', 'residence_since', 'property_magnitude', 'age', 'other_payment_plans', 'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone', 'foreign_worker']

Encoding categorical variables

In [4]:
from sklearn.preprocessing import OneHotEncoder

# Load encoder
enc = OneHotEncoder(handle_unknown='ignore')
# Fit encoding
enc.fit(features)
# Make conversion 
feat = enc.transform(features).toarray()
feat

array([[0., 1., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.]])

Tes/train split

In [5]:
from sklearn.model_selection import train_test_split

# Split dataset into random train and test subsets:
train, test, train_labels, test_labels = train_test_split(feat, labels, test_size=0.33, random_state=42)

Neural Network classification

In [6]:
from sklearn.neural_network import MLPClassifier

# Set up the neural network
NN = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(10, 4), random_state=1,max_iter=1000)

# Fit the model 
NN.fit(train, train_labels)

# Predict with test set & evaluate performance 
NN.predict(test)
round(NN.score(feat,labels), 4)

0.895