<a href="https://colab.research.google.com/github/UnitForDataScience/Mini_Workshops/blob/main/Generalized_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
from sklearn.datasets import fetch_openml

# Get data
dat = fetch_openml(name='electricity', as_frame=True, version=1)
# Convert to dataframe
df = pd.DataFrame(dat['data'], columns=dat['feature_names'])
df['target'] = dat['target']
# Print first few rows
df.head()

   date day    period  nswprice  ...  vicprice  vicdemand  transfer  target
0   0.0   2  0.000000  0.056443  ...  0.003467   0.422915  0.414912      UP
1   0.0   2  0.021277  0.051699  ...  0.003467   0.422915  0.414912      UP
2   0.0   2  0.042553  0.051489  ...  0.003467   0.422915  0.414912      UP
3   0.0   2  0.063830  0.045485  ...  0.003467   0.422915  0.414912      UP
4   0.0   2  0.085106  0.042482  ...  0.003467   0.422915  0.414912    DOWN

[5 rows x 9 columns]

In [ ]:
# Organize data:
label_names = dat['target_names']
labels = dat['target']
feature_names = dat['feature_names']
features = dat['data']

# Print data:
print(label_names)
print('Class label = ', labels[0])
print(feature_names)
#print(features[0])

['class']
Class label =  UP
['date', 'day', 'period', 'nswprice', 'nswdemand', 'vicprice', 'vicdemand', 'transfer']

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, max_iter = 200).fit(features, labels)

In [ ]:
clf.score(features, labels)

0.7528910663841808